/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

/ { 
		behaviors {
			bhm: balanced_homerow_mods {
				compatible = "zmk,behavior-hold-tap";
				label = "HOMEROW_MODS";
				#binding-cells = <2>;
				tapping-term-ms = <200>;    // <---[[moderate duration]]
				quick-tap-ms = <0>;
				flavor = "balanced";
				bindings = <&kp>, <&kp>;
			};
		};


        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
							&kp Q 			&kp W 			&kp F   			&kp P       	&kp G    			&kp J		&kp L       	&kp U    		&kp Y   	&kp SEMI
							&bhm LSHIFT A 	&bhm LALT R 	&bhm LGUI S 		&bhm LCTRL T 	&kp D    			&kp H 		&bhm RCTRL N    &bhm RGUI E 	&bhm RALT I &bhm RSHIFT O  
							&kp Z 			&kp X 			&kp C 				&kp V     		&kp B    			&kp K 		&kp M       	&kp CMMA 		&kp DOT 	&kp FSLH
																								&lt 1 SPACE    		&lt 2 BSPC  &lt 3 ENTER
                        >;
						trackball-bindings = <&tmv>;
                };
                lower_layer {
                        bindings = <
							&none			&none			&none			&none			&none						&kp LBKT 		&kp RBKT		&none			&kp MINUS 		&kp EQUAL
							&bhm LSHIFT N6	&bhm LALT N4    &bhm LGUI N2 	&bhm LCTRL N0  	&kp N8       				&kp N9      	&bhm RCTRL N1 	&bhm RGUI N3   	&bhm RALT N5	&bhm RSHIFT N7
							&kp BSLH        &none  			&none    		&none      		&none        				&kp LBKT 		&kp RBKT		&none       	&kp LBRC 		&kp RBRC
																							&none      					&kp BSPC		&none
                        >;
						trackball-bindings = <&tsl>;
                };

                raise_layer {
                        bindings = <
						   &kp ESC 			   	&kp HOME   		&kp UP   	&kp END    		&none 					    &none     		&none        &none       	&none      	&kp K_SLEEP
						   &kp TAB      		&kp LEFT   		&kp DOWN	&kp RIGHT  		&none   			    	&none	    	&kp RCTRL    &kp RGUI   	&kp RALT	&kp RSHIFT	 
						   &none	 			&none 	 		&none  		&none 			&none           			&none		 	&bt BT_SEL 0 &bt BT_SEL 1	&none 		&none
																							&kp SPACE     				&none		 	&none
						>;
						trackball-bindings = <&tsl>;
                };
				
				tb_layer {
                        bindings = <
						   &kp F6 			&kp F4 			&kp F2 			&kp F10 		&kp F8     					&kp F9 			&kp F1 			&kp  F3		&kp F5 		&kp F7
						   &kp TAB      		&kp LEFT   		&mkp LCLK	&mkp RCLK 		&kp MINUS   		    	&none	    	&kp RCTRL     	&kp RGUI   	&kp RALT	&kp RSHIFT	 
						   &none	 			&none 	 		&none  		&none 			&none           			&none		 	&bt BT_SEL 0 &bt BT_SEL 1	&none 		&none
																							&kp SPACE     				&none		 	&none
						>;
						trackball-bindings = <&tkp BSPC DELETE LC(MINUS) LC(PLUS)>;
                };
        };
};

